@import "~antd/dist/antd.css";

#root,
body,
html {
  height: 100%;
  width: 100%;
}
#app {
  position: relative;
  background: #fff;
  min-height: 100vh;
}

.error-banner {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 99;
}

.app-header {
  display: flex;
  background: #fff;
  box-shadow: 0 4px 8px #f0f1f2;
  padding: 0;
}

.app__affix-header {
  z-index: 99;
}

.app-header__logo-search-section {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.app-header__logo {
  padding: 0 20px;
  display: inline-block;
}

.app-header__logo img {
  width: 36px;
}

.app-header__menu-section {
  float: right;
}

.app-skeleton {
  height: 100%;
  display: flex;
  background-color: #fff;
}

.app-skeleton__spin-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  line-height: 63px;
  border: 0;
  width: 100%;
  padding: 0 20px;
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-card {
  width: 450px;
  text-align: center;
}

.log-in-card__intro-title.ant-typography,
.log-in-card__intro-title.ant-typography + h3.ant-typography {
  margin-top: 5px;
}

.log-in-card__google-button {
  display: flex;
  align-items: center;
  color: white;
  padding: 1px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  background-color: #4285f4;
  margin: 40px auto;
  border: none;
  cursor: pointer;
}

.log-in-card__google-button-logo {
  width: 40px;
}
.log-in-card__google-button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.log-in-card__google-button:active {
  background: #3367d6;
}

.log-in-card__google-button-text {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.user {
  padding: 60px 20px;
}

.user-profile {
  max-width: 450px;
  margin: 0 auto;
}

.user-profile__avatar {
  text-align: center;
}

.user-profile__details h4.ant-typography {
  color: #1d226c;
}
.user-profile__details div.ant-typography {
  font-size: 15px;
}
.user-profile__details-cta {
  margin-bottom: 20px;
}
